user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
pid {{ nginx_pid }};
include {{ nginx_include_modules_enabled }};

events {
	worker_connections {{ nginx_worker_connections }};
	# multi_accept {{ nginx_multi_accept }};
}

http {

	##
	# Basic Settings
	##

	sendfile {{ nginx_sendfile }};
	tcp_nopush {{ nginx_tcp_nopush }};
	types_hash_max_size {{ nginx_types_hash_max_size }};
	# server_tokens {{ nginx_server_tokens }};

	# server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};
	# server_name_in_redirect {{ nginx_server_names_in_redirect }};

	include {{ nginx_basic_settings_include }};
	default_type {{ nginx_http_default_type }};

	##
	# SSL Settings
	##

	ssl_protocols {{ nginx_ssl_protocols }}; # Dropping SSLv3, ref: POODLE
	ssl_prefer_server_ciphers {{ nginx_ssl_prefer_server_ciphers }};

	##
	# Logging Settings
	##

	access_log {{ nginx_access_log_path }};
	error_log {{ nginx_error_log_path }};

	##
	# Gzip Settings
	##

	gzip on;

	# gzip_vary {{ nginx_gzip_state }};
	# gzip_proxied {{ nginx_gzip_proxied }};
	# gzip_comp_level {{ nginx_gzip_comp_level }};
	# gzip_buffers {{ nginx_gzip_buffers_count }} {{ nginx_gzip_buffer_size }};
	# gzip_http_version {{ nginx_gzip_http_version }};
	# gzip_types text/plain {{ nginx_gzip_types }};

	##
	# Virtual Host Configs
	##

	include {{ nginx_confd_config }};
	include {{ nginx_sites_enabled_conf }};
}


#mail {
#	# See sample authentication script at:
#	# http://wiki.nginx.org/ImapAuthenticateWithApachePhpScript
#
#	# auth_http localhost/auth.php;
#	# pop3_capabilities "TOP" "USER";
#	# imap_capabilities "IMAP4rev1" "UIDPLUS";
#
#	server {
#		listen     {{ nginx_mail_listen_pop }};
#		protocol   {{ nginx_mail_protocol_pop }};
#		proxy      {{ nginx_mail_proxy_pop }};
#	}
#
#	server {
#		listen     {{ nginx_mail_listen_imap }};
#		protocol   {{ nginx_mail_protocol_imap }};
#		proxy      {{ nginx_mail_proxy_imap }};
#	}
#}

